body {
    margin-left: 670px;
    margin-top: 140px;
    color: white;
    background-color: black;
}

span {
    margin-left: 210px;
    font-size: 24px;
}

h1 {
  margin-left: 140px; 
  font-size: 40px; 
}

button {
    width: 140px;
    height: 40px;
    border-color: purple;
    color: purple;
}